* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #100c2a;
}

#chart-container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.btns {
    position: absolute;
    right: 30px;
    top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50px;
}
.btns button {
    color: #eee;
    background: transparent;
    border: 1px solid #b6b5cc;
    border-radius: 6px;
    padding: 4px 0px;
    cursor: pointer;
}
.btns button:hover {
    background: #ffffff11;
}

.switcher {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    width: 80px;
    top: 5px;
    gap: 5px;
    bottom: 5px;
    justify-content: center;
    align-items: center;
}

.switcher a {
    color: #eee;
    background: transparent;
    padding: 8px 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    transition: all 0.25s ease;
}
.switcher a.current {
    pointer-events: none;
    background-color: #3b4365;
}
.switcher a:hover {
    background-color: #3b4365;
}